html{
  
    font-family: 'Scope One', serif;
    font-size:18px;
}

body{
    margin:0 auto;
    width:1260px;
    background-color: teal;
    color:salmon;
}

header{
    font-family: 'Bevan', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 0rem 0 1rem 0;
    display:flex;
    margin-bottom: 0;
}

header h1{
    width: 70%;
    margin-top:4rem;
}

#leftHeaderImg{
    background-color: black;
    background-image: url("../images/superman.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 10rem;;
    width: 15%;
}


#rightHeaderImg{
    background-color: black;
    background-image: url("../images/johnny-bravo-the-rock.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 10rem;;
    width: 15%;
}

h1{
    height: 2rem;
}
h2{
    height: 1.75rem;
}

article h2{
    text-align: center;
    background-color: orange;
    margin-top:0;
    height: 2.125rem;
    color:teal;
    font-weight: bold;
}

main{
    width:100%;
    height: 40rem;
    display:flex;
    
}

#leftColumn{
    width: 20%;
}
article{
    width:60%;
}
#rightColumn{
    width:20%;
}

#hangman-description{
  color:salmon;
  margin: 1rem .5rem 1rem .5rem;
  font-size: 1.250rem;
}

/* ==============================================
Prompt for guess and display remaining 
Number of Guesses
================================================= */

#hangman-userInput{
    width:100%;
    height: 2.5rem;
    display:inline-flex;
    justify-content: center ;
    color: white;
 }

 #hangman-userInput h3{
    color: white;
    margin: .25rem .25rem .5rem .25rem;
 }

 
 #remainingGuesses{
  width:2rem;
  height:1.75rem;
  text-align: center;
  margin: .25rem 2rem .25rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  }

  #userInput{
   width:2rem;
   height:2rem;
   text-align: center;
   margin: 0 auto; 
   }

  input[type="text"]{
    background-color: transparent;
    color: black;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    background-color: orange;
    }

/* ==============================================
 Display Panel of unmatched characters
================================================= */

  #hangman-input{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   font-size: 1.75rem;
   margin: 1rem 0 1rem 0; 
   }

  .hangman-highlight{
    background-color:white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display:inline-block;
    color:orange;
    text-align: center;
    font-weight: bolder;
    }

  .hangman-nonChar{
    background-color: transparent;
    max-height: 2.5rem;
    max-width: 1rem;
    }

  #hangman-guesses-label{
    color:white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    }

  #hangman-guesses{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 2.5rem;
    font-size: 1.25rem;
    color:white;
    }

    #error-messages{
        color:white;
        text-transform: lowercase;
        font-size: 1.125rem;
        text-align: center;
    }
    /* ==========================
      Left/Right  Column Stylings
     ==========================*/
    .scoreContainer{
        background-color: orange;
        width: 100%;
        color:white;
        font-size: 1.125rem;
        display:flex;
        flex-direction: row;
    }
    .scoreHeading{
        font-weight: bold;
        margin: .25rem .5rem .25rem .5rem;
        width:50%;
    }
    #theScore, #theOtherScore{
        font-weight: bold;
        font-size: 1.25rem;
        color:white;
        font-size: 1.25rem;
        width:40%;
        margin-top: .25rem;
    }

    /* ==========================
      Embedded YouTube
     ==========================*/   
    iframe{
      width: 100%;
      height: auto;
    }
     /* ==========================
      Image Container
     ==========================*/  
     .imageContainer{
         width: 90%;
         height: 25rem; 
         overflow: hidden;
         margin: 0 auto;
         background-size: 100% 100%;
         background-repeat: no-repeat;
         text-align: center;
     }

     #btnPlayAgain{
         text-align: center;
         position:absolute;
         bottom:40%;
         left: 48%;
          
          
         font-size: 2.5rem;
         border-radius: 25%;
     }

     .btn-success{
         background-color: teal;
     }
      